.navbar{
    background-color: #191e2e;
    padding: 1px 10px 1px 10px;
    text-align: start;
    display: flex;
    justify-content: space-between;
}

.navbar .brand{
    display: flex;
}

.navbar h5{
    margin: 0;
    letter-spacing: 1px;
    padding: 10px 0 10px 5px;
}

.navbar .links, .navbar .brand{
    margin: 10px 0;
}

.navbar .links{
    padding: 10px 0;
}

.navbar nav a{
    text-decoration: none;
    color: white;
    padding: 0 5px;
    transition: color 0.5s;
}

.navbar nav a:hover{
    color: #ffffffc2;
}